## Project ignores

# build artifacts
/proguard/
/build/
/bin/
/gen/

# android configuration
/local.properties
/project.properties

# gradle configuration
/.gradle
/gradle*
/build.gradle

# eclipse configuration
/.classpath
/.project

# intellij configuration
/*.iml
/*.ipr
/*.iws
/.idea/
