## Global ignores

# OS X Junk
.DS_*

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Top level Intellij project files
/*.iml
/*.ipr
/*.iws
/.idea/

PodcastCatcher/bin
PodcastCatcher/gen
